<h2>ERROR. TRY AGAIN.</h2>
<% if @errors %>
    <ul>
    <% @errors.each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
<% end %>
<p> Please <a href=“/signup”>Sign Up</a> or <a href=“/login”>Log In</a> to see your list of upcoming events.</p>
<a href=“/profile”>profile</a>
<a href=“/”>Home </a>

