<h2>ERROR</h2>
<% if @errors %>
    <ul>
    <% @errors.each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
<% end %>
<p> Please enter all required information<p>
<a href="/events/new">Create Event</a>
<a href="/profile">Profile</a>
<a href="/">Home </a>

