<h1>Your Events</h1>
<p> Please Log In To A <a href="/signup">Signup</a> or <a href="/login">Login</a> to start.</p>
<p> All events are listed on this page. </p>
<% Event.all.each do |event| %>
    <ul>
    <li><a href="/events/<%=event.id %>"> <%= event.date %> </a>, by <%= event.user.username %>
    </li>
    </ul>
 <% end %>

 <a href="/profile">Profile</a>
 <a href="/signout">Sign Out</a>