<h1>Events Listing</h1>
<p> All events are listed on this page. </p>
<% Event.all.each do |event| %>
    <ul>
    <li><a href="/events/<%=event.id %>"> <%= event.event_name %> - <%= event.date %> </a> by <%= event.user.username %>
    </li>
    </ul>
 <% end %>
 <br>
 <a href="/profile">Profile</a>
 <br>
 <a href="/signout">Sign Out</a>