<h3>Create a new Event</h3>
<form action="/events" method="POST">
  <input type="text" name="event_name" placeholder="Event Name:">
  <input type="text" name="date" placeholder="Date:">
  <input type="text" name="location" placeholder="Location:">
  <br>
  <br>
  <input type="submit" value="add to calendar">
  <br>
  <a href="/">Profile</a>
</form>