<h3>Create a new Event</h3>
<form action="/events" method="POST">
  <input type="datetime" name="date" placeholder="Date:">
  <input type="text" name="location" placeholder="Location:">
  <input type="timestamp" name="time" placeholder="Time:">
  <br>
  <br>
  <input type="submit" value="add to calendar">
</form>