<div class="container">
  <header><img src="images/mountain_bike.jpeg" class="this_logo"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Biking Club App</h2>

    <div class="content">
        
      <p>Welcome to the Biking Club App!
      <br>
      <br>
      If you're an avid bike rider then you've come to the right place!
      <br>
      <br>
      To get started, create an account or log in to your existing account.</a></p>	      <br><br>
    </div>

      
    <div class="sidebar">
    <h3>Login</h3>
    <br>
    <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <br>
    <input type="submit" value="Log In">
    </form>
    <br>
    <a href="/signup">Signup</a>
    </div>

  </div>
</div>
